{% extends 'base.html' %}

{% block body %}
{% include 'includes/header.html' %}
{% include 'includes/flash_messages.html' %}

<form action="{% url  'users:login' %}" method="post" class='login_form'>
	{% csrf_token %}

	<label class='form-label'>Email</label>
	<input type="text" name="email" id="login-email" />
	</br>

	<label>Password</label>
	<input type="password" name="password" id="login-password" />
	</br>

	<button type="submit">Login</button>

	Not yet a user? 
	<a href="{% url 'users:register' %}">Register</a>
</form>
{% endblock %}